.jarallax-container {
  top: -1px !important;
}

.jarallax-fix .jarallax-container {
  top: 1px !important;
}

.overlay-95::before {
  opacity: 0.95;
}

.badge span {
  font-weight: 800;
}

.badge.bg-primary-soft {
  background-color: rgba(51, 94, 234, 0.1);
  color: #335EEA;
}

.badge.bg-success-soft {
  background-color: rgba(66, 186, 150, .1);
  color: #42ba96;
}

.text-primary-desat.underline {
  border-bottom: 3px solid rgba(51, 94, 234, .2);
}

.text-success.underline {
  border-bottom: 3px solid rgba(66, 186, 150, 0.2);
}

hr {
  color: #dee1e6;
}

@media (max-width: 480px) {
  .btn-fw-mobile {
      width:100%;
  }
}